@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #F7F6F2;
  --text-color: #111;
  --white-color: #fff;
  --second-text-color: #787878;
  --main-color: #1d9951f1;
}

/* header section style */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo img {
  width: 130px;
}

.navbar a {
  font-size: 16px;
  color: var(--text-color);
  margin: 0 15px;
  font-weight: 500;
  transition: .3s;
}

.navbar a:hover {
  color: var(--main-color);
}

.btn {
  padding: 10px 20px;
  background: var(--main-color);
  color: var(--white-color);
  border-radius: 5px;
  border: 2px solid var(--main-color);
  cursor: pointer;
  font-weight: 500;
  overflow: hidden;
  z-index: 1;
  transition: .5s;
}

.btn:hover {
  background: none;
  color: var(--main-color);
}



/* home section style */
.home {
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .2)), url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px 0;
  padding: 120px 0 200px;
}

.home-content .access-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  max-width: max-content;
  margin: 0 auto;
  padding: 4px 8px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.access-btn input {
  margin-right: 5px;
}

.access-btn input,
label {
  color: var(--main-color);
  font-size: 12px;
  font-weight: 600;
}

.home-content .same {
  font-size: 56px;
  color: var(--white-color);
}

.home-content .same.main {
  color: var(--main-color);
}

.home-content p {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.6;
}

.home-btn {
  margin-top: 35px;
}

.home-btn .btn {
  margin: 0 5px;
}

.home-btn .btn:nth-child(2) {
  background: transparent;
  border-color: var(--white-color);
  color: var(--white-color);
}

.home-btn .btn:nth-child(2):hover {
  background: var(--white-color);
  color: var(--main-color);
  border-color: var(--white-color);
}

.home-btn a i {
  vertical-align: middle;
  margin: 0 5px;
}

/* note section style */
.note {
  width: 100%;
  padding: 0 9% 50px;
}

.heading-text {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.heading-text p {
  font-size: 13px;
  color: var(--second-text-color);
  line-height: 1.4;
}

.note .note-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
}

.note-box .note-items {
  border-radius: 5px;
  padding: 40px 30px 20px;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transition: .5s;
}

.note-box .note-items:hover {
  transform: translateY(-7px);
}

.note-items i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--main-color);
  border-radius: 50%;
  font-size: 24px;
  color: var(--white-color);
}

.note-items h3 {
  font-size: 17px;
  font-weight: 600;
  margin: 15px 0;
}

.note-items p {
  font-size: 13px;
  color: var(--second-text-color);
  pointer-events: none;
}

/* brain section style */
.brain {
  padding: 100px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.brain-text small {
  display: inline-block;
  font-size: 12px;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.brain-text p {
  font-size: 13px;
  color: var(--second-text-color);
  margin-bottom: 30px;
  line-height: 1.5;
}

.brain-text ul li {
  list-style: none;
  margin: 15px 0;
  font-size: 12px;
  color: var(--text-color);
  font-weight: 600;
}

.brain-text ul li i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: var(--main-color);
  border-radius: 50%;
  vertical-align: middle;
  color: var(--white-color);
  margin-right: 5px;
  font-size: 14px;
}

/* think-more section style */
.think-more {
  padding: 0 9% 100px;
}

.thing-content {
  padding: 50px 0;
  background: var(--bg-color);
  border-radius: 8px;
}

.thing-content .thing-box {
  text-align: center;
  margin-top: -15px;
}

.thing-content .thing-box .btn {
  display: inline-block;
  margin-bottom: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  font-weight: 400;
  font-size: 13px;
}

.thing-content .thing-box .btn i {
  vertical-align: middle;
}

.thing-content .thing-box p {
  font-size: 13px;
  color: var(--second-text-color);
  font-weight: 400;
}

/* footer section style */
.footer {
  background: #001931;
  padding: 80px 9% 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-content .social-icon h5 {
  color: var(--white-color);
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-content .social-icon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  margin-right: 7px;
  border-radius: 5px;
  color: #001931;
  transition: .5s;
}

.footer-content .social-icon a i {
  color: #001931;
  font-size: 18px;
  transition: .5s;
}

.footer-content .social-icon a:hover i {
  color: var(--main-color);
}

.footer-content .social-icon a:hover {
  background: transparent;
}

.footer hr {
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.footer .copy-right {
  margin-top: 30px;
  text-align: center;
}

.footer .copy-right p {
  color: var(--white-color);
  font-size: 13px;
  font-weight: 200;
}